# Computable Phenotype - Homelessness
Jack Rossi and Anu Sharma

## 1. Define Population for Training Data

This project seeks to define the characteristics in electronic medical records that indicate that a person is experiencing homelessness. We seek to define, understand, and intervene on this population, especially homeless patients who are very sick and/or highly utilize inpatient services.

We will identify a subset of patients in the study period who have 3 or more inpatient admissions in any 1-year period. A chart review will then be completed for these patients to idenify which of them are experiencing homelessness.

In [1]:
import pandas as pd

In [2]:
adm = pd.read_csv('lmh admissions.csv')
adm["synth_date"] = pd.to_datetime(adm.loc[:,"synth_date"]).dt.date
adm = adm.sort_values(by = 'synth_date')

In [3]:
adm.head()

         synth_id  synth_date
44834   171538957  2014-01-05
35905  1008244996  2014-01-10
37561  1896715568  2014-01-15
37601   631697669  2014-01-15
33123   956115776  2014-01-16

#### Find all patients with 3+ admits in a year-long span

In [4]:
window = pd.to_timedelta(365, 'd')
ids = adm.loc[:,'synth_id'].tolist()
synth_date = adm.loc[:,'synth_date'].tolist()

patients = []
#loop throuhg each date, defining the year beginning on that day
for d in list(set(synth_date)):
    #get list of admissions between date d and date d + window; count number of each ID
    numAdmByPat = adm.loc[((adm['synth_date'] < d + window) & (adm['synth_date'] >= d)),'synth_id'].value_counts()
    patsThreePlus = list(numAdmByPat.index[numAdmByPat >= 3])
    patients.extend(patsThreePlus)

In [9]:
patient_set = set(patients)
print('There are {} patients who were admitted 3 or more times in a year span.'.format(len(patient_set)))

There are 913 patients who were admitted 3 or more times in a year span.

#### Validation - patients admitted 3+ times in a calendar year.

In [6]:
#create a column for the year of the admission
adm['Year'] = adm['synth_date'].map(lambda x: x.year)
#count the number of admission dates for each year and patient
admByYear = adm.groupby(by = ['Year','synth_id']).count()

In [11]:
#find patients who've had 3 or more
admByYear1 = admByYear.loc[admByYear['synth_date'] >= 3].reset_index()
patient_set1 = set(admByYear1.loc[:,'synth_id'])
print('There are {} patients who were admitted 3+ times in a calendar year.'.format(len(patient_set1)))

There are 631 patients who were admitted 3+ times in a calendar year.

#### Validation - patients who were admitted 3+ in a year span, but not calendar year.

In [14]:
patient_set.difference(patient_set1)

{25209670,
 25448643,
 30708806,
 31569564,
 34549340,
 57638971,
 63302070,
 64002924,
 71538267,
 79642394,
 83898215,
 91638118,
 91954940,
 98227342,
 108971290,
 111441205,
 112460299,
 116592038,
 122049363,
 127879980,
 154554168,
 162749199,
 164333826,
 165158584,
 167856983,
 194736040,
 200384996,
 201415040,
 206405851,
 218372888,
 230831747,
 238297392,
 240030363,
 240837192,
 241352037,
 260388794,
 261913852,
 274209750,
 277395607,
 299395574,
 300749248,
 302434324,
 305546191,
 307982246,
 315284609,
 325368638,
 332732535,
 348254844,
 350038258,
 353951241,
 357371922,
 357580279,
 358420792,
 365162658,
 389893288,
 390859504,
 399750255,
 414498035,
 421426315,
 421555621,
 422705517,
 425142292,
 428421773,
 435675520,
 456469066,
 458706285,
 471392823,
 475713699,
 479226567,
 495297011,
 498245766,
 503775766,
 514724741,
 522476968,
 534842521,
 537429615,
 549705040,
 550979882,
 564824727,
 574588395,
 574694407,
 577486715,
 578152965,
 591967595,
 592730044,
 603855643,
 612187907,
 616448937,
 618006243,
 623039066,
 644084291,
 673603196,
 675418903,
 677868606,
 686225185,
 701783616,
 708090919,
 740554644,
 747538440,
 758245220,
 761178603,
 763939283,
 765787795,
 769617755,
 769917908,
 780642246,
 782026185,
 784838885,
 806687527,
 821045874,
 836183234,
 843100092,
 844062959,
 849269813,
 850078018,
 851419613,
 855784189,
 868944030,
 873685085,
 876251192,
 893177218,
 907250207,
 923840651,
 931331011,
 931942319,
 934838197,
 971185997,
 978237661,
 988779992,
 989026182,
 992155943,
 994111434,
 1005900941,
 1006015901,
 1022661126,
 1023417777,
 1062080314,
 1066394026,
 1093658825,
 1093756780,
 1099568516,
 1100277614,
 1103803434,
 1112042642,
 1112181788,
 1134279798,
 1135687595,
 1149449607,
 1170648379,
 1185926047,
 1195328463,
 1195813637,
 1198231151,
 1200014454,
 1202452335,
 1205540217,
 1212746198,
 1219175233,
 1223357354,
 1230654166,
 1233630785,
 1236529864,
 1241195922,
 1270192093,
 1288864880,
 1332648518,
 1337341975,
 1345636365,
 1346721052,
 1354284579,
 1363394815,
 1366898639,
 1371792709,
 1379841455,
 1379918502,
 1382210488,
 1399309542,
 1405958005,
 1408285952,
 1409462943,
 1413281960,
 1417122087,
 1442483837,
 1444114907,
 1454317900,
 1463103517,
 1473980247,
 1476439127,
 1479898249,
 1486964913,
 1489752851,
 1492756674,
 1497861801,
 1508382639,
 1512089694,
 1516394464,
 1518283272,
 1520186584,
 1528610765,
 1543266227,
 1548407769,
 1558683440,
 1565946632,
 1582173516,
 1583504425,
 1587335981,
 1604286009,
 1605160398,
 1610050750,
 1615484302,
 1626353426,
 1637525001,
 1653105256,
 1657923309,
 1663870725,
 1667991650,
 1676936863,
 1678771962,
 1680684875,
 1680831750,
 1686393550,
 1708882258,
 1722947005,
 1725078622,
 1728050946,
 1730266546,
 1741280292,
 1748360610,
 1750012498,
 1762348140,
 1798184910,
 1798962456,
 1811524293,
 1817796933,
 1819506382,
 1822852008,
 1829555713,
 1830566493,
 1831007362,
 1853977527,
 1862712661,
 1870978616,
 1875358652,
 1880320120,
 1882300795,
 1882404066,
 1893532344,
 1897944654,
 1903851571,
 1904392758,
 1906336218,
 1913956969,
 1930797009,
 1934633721,
 1943029380,
 1945358697,
 1946724255,
 1956809508,
 1969242199,
 1977192837,
 1978980844,
 1979819452,
 1983609072,
 1985267431,
 1989592397,
 1992416747,
 1996202490,
 2010532728,
 2028022367,
 2029501583,
 2034160537,
 2036664262,
 2038407769,
 2040368054,
 2055492525,
 2067992509,
 2089489136,
 2093772115,
 2095930022,
 2119555017,
 2125797523,
 2147265839}

## Construction of Homeless Address Indicators

"The homeless address indicators were based on six sources: (1) a comprehen- sive directory of shelter and single-site supportive housing programs provided by housing program staff from Hennepin and Ramsey Counties in response to an open-ended inquiry by electronic mail. We added several other address types noted by local homeless experts to this directory, including (2) the General Delivery Address (GDA)— a free service offered by the U.S. Postal Service for an individual’s mail to be held at the post office; (3) addresses of local homeless service centers collecting mail for homeless clients; (4) free text responses (e.g., “homeless”) recorded in the mailing address section of Medicaid enrollment records synonymous with homelessness; and (5) addresses of institutions commonly used by homeless individuals, including hotels, places of worship, and hospitals (Zech et al. 2015). Finally, (6) within the data, we observed frequent use of the addresses of county administrative offices and added these locations to the directory." (Vickery, 2018)

"
Category   Includes
Keyword    Addresses that include a variant of keywords “homeless” and “undomiciled” 
Hospital   Addresses of health care facilities participating in Healthix
Shelter    Addresses of 270 shelters in New York City and Long Island    
Worship    Addresses of 9677 places of worship in New York City and Long Island
" (Zech, 2015)

In [19]:
# estimating number of shelters between the boroughs
shelters = pd.read_json('https://data.cityofnewyork.us/resource/3qem-6v3v.json')
# shelters.groupby('borough')['']
print('Shelters by borough:')
print(shelters.reset_index().groupby('borough').count()['index'])
print('Total shelters {}'.format(shelters.shape[0]))
shelters.head()

Shelters by borough:
borough
Bronx            204
Brooklyn         272
Manhattan        187
Queens           204
Staten Island     17
Name: index, dtype: int64
Total shelters 884

,report_date,borough,community_district,adult_family_shelter,adult_shelter,fwc_cluster,fwc_comm_hotel,fwc_shelter,adult_shelter_comm_hotel,adult_family_comm_hotel
0,2020-01-31T00:00:00.000,Bronx,201,1.0,2.0,4.0,1.0,7.0,NaN,NaN
1,2020-01-31T00:00:00.000,Staten Island,501,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,2020-01-31T00:00:00.000,Queens,414,1.0,NaN,NaN,1.0,1.0,NaN,NaN
3,2020-01-31T00:00:00.000,Queens,413,NaN,NaN,NaN,2.0,2.0,5.0,NaN
4,2020-01-31T00:00:00.000,Queens,412,1.0,4.0,NaN,3.0,6.0,7.0,NaN

In [15]:
# family shelter performance
shelPerf = pd.read_json('https://data.cityofnewyork.us/resource/y7z5-rhh5.json')
shelPerf

,year_quarter,facility_name,provider_agency,performance_tier
0,2012 Q4,Clinton Family Inn,Homes for the Homeless,1st Performance Tier
1,2012 Q4,CRF House East,Children's Rescue Fund,1st Performance Tier
2,2012 Q4,HB - LaGuardia Family Center,"Housing Bridge, Inc.",1st Performance Tier
3,2012 Q4,HB - New Broadway,"Housing Bridge, Inc.",1st Performance Tier
4,2012 Q4,HELP- Bronx Morris,HELP U.S.A,1st Performance Tier
...,...,...,...,...
134,2013 Q1,Providence House 7,"Providence House, Inc.",6th Performance Tier
135,2013 Q1,St. John's Place Family Residence,Settlement Housing Fund,6th Performance Tier
136,2013 Q1,Stockholm Family Residence,SCO,6th Performance Tier
137,2013 Q1,Theresa Haven,Family Support System,6th Performance Tier
138,2013 Q1,Williamsbridge Family Inn,Homes for the Homeless,6th Performance Tier

In [18]:
# NYC Health + Hospitals Locations
nychealth = pd.read_json('https://data.cityofnewyork.us/resource/ymhw-9cz9.json')
nychealth
print('NYC Health + Hospitals by borough')
print(nychealth.reset_index().groupby('borough').count()['index'])

NYC Health + Hospitals by borough
borough
Bronx            14
Brooklyn         26
Manhattan        24
Queens           11
Staten Island     3
Name: index, dtype: int64

In [27]:
short_list_data = pd.read_json('https://data.cityofnewyork.us/resource/bmxf-3rd4.json')